InvoiceProcessor.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1od-uvxAt91X9xgK-3VDMZLOE4iHT1cDq",
          "mode": "list",
          "cachedResultName": "Projects_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1od-uvxAt91X9xgK-3VDMZLOE4iHT1cDq"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2c87b091-3f24-4903-b2e1-0c9e3542a956",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ku71jEu89JBKEBH6",
          "name": "sujithulule4@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "ad16da0a-7f0b-4951-9a16-349df705febf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "the name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "the email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "the address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "the phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "the total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice date",
              "type": "date",
              "description": "the date invoice was sent",
              "required": true
            },
            {
              "name": "Due date",
              "type": "date",
              "description": "the date invoice is due",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "5f7fa48c-d456-4db5-82f0-8feb236343e4",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-0125"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "id": "3ca09654-b2d8-43c4-a7ed-d20845caafb6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xIjyEK3EloQXPnAI",
          "name": "demo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pHaMbwTd0tXKsnd5SABE_1iFVMDPujGgtLTQ84oupTw",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pHaMbwTd0tXKsnd5SABE_1iFVMDPujGgtLTQ84oupTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pHaMbwTd0tXKsnd5SABE_1iFVMDPujGgtLTQ84oupTw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice date'] }}",
            "Due Date": "={{ $json.output['Due date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        0
      ],
      "id": "bb16dce0-b725-4e58-91f0-fb9de340caca",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1sCDWdrD7aKuYLzm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "22d23d63-85dc-49d6-ba9b-c9cf57538ac3",
      "name": "Download Binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ku71jEu89JBKEBH6",
          "name": "sujithulule4@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-0125"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number:  {{ $json['Invoice Number'] }}\n\nClient Name:{{ $json['Client Name'] }}\n\nClient Email:{{ $json['Client Email'] }}\n\nTotal Amount:{{ $json['Total Amount'] }}\n\nInvoice Date:{{ $json['Invoice Date'] }}\n\nDue Date:{{ $json['Due Date'] }}"
            },
            {
              "content": "#Overview\nYou are an email expert for Sujit Technologies Pvt Ltd named Pedri. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/sent.\n\n##Email\nInform the billing team of the invoice. Let them know we have also updated this in the Invoice Database, and they can view it here:\nhttps://docs.google.com/spreadsheets/d/1pHaMbwTd0tXKsnd5SABE_1iFVMDPujGgtLTQ84oupTw/edit?gid=0#gid=0\n\n##Output\nOutput the following parameters separately:\nSubject\nEmail"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1240,
        0
      ],
      "id": "a83b6541-617a-4b35-9cb8-035afc1e7688",
      "name": "Create Email",
      "credentials": {
        "openAiApi": {
          "id": "xIjyEK3EloQXPnAI",
          "name": "demo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "oneaboveall016@gmail.com",
        "subject": "={{ $json.message.content.Subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "id": "1f83afb6-72db-46fd-8299-9da38752f420",
      "name": "Send Email",
      "webhookId": "950e4a87-4877-4364-864f-a5741766995a",
      "credentials": {
        "gmailOAuth2": {
          "id": "ATrfZiW4LKJW67dv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2fa3b3a-2436-4f75-bf04-f335bff2d4b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "380a353ea04df8aadfe5c24a57ea90d8c9274d4090c90deaa212bf922d209e1b"
  },
  "id": "IllmZD4rjcFoJnSA",
  "tags": []
}